<launch>

  <arg name="model" default="$(find cartographer_3d)/urdf/hokuyo3d.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <include file="$(find hokuyo3d)/launch/hokuyo3d.launch" />



   <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_3d)/config
          -configuration_basename cartographer_3d.lua"
      output="screen">
   <remap from="points2" to="/hokuyo3d/hokuyo_cloud2" />
    <remap from="imu" to="/hokuyo3d/imu" /> 
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>